.dndflow {
    position: relative;
}

.reactflow-wrapper {
    float: left;
    border: 1px solid #ccc;
    width: 100%;
}

.dndflow .getDataBtn {
    position: absolute;
    top: 80px;
    right: 20px;
    z-index: 5;
}